extends goaheadtravel

block content
	main.main
		.forgotpassword-form
			h2.heading-secondary.ma-bt-lg Forgot your password?
			form.form.form--login
				.form__group
					label.form__label(for='email') Your Email
					input#email.form__input(type='email', placeholder='youremail@example.com', required)
				.form__group
					button#reset-btn.btn.btn--green Reset my password