doctype html
html
	head
		block head
			meta(charset='UTF-8')
			meta(name='viewport' content='width=device-width, initial-scale=1.0')
			title Go Ahead Travel | #{title}
			link(rel='stylesheet' href='/css/styles.css')
			link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
			link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap')
	body(data-alert=`${alert ? alert : ''}`)
		// Header
		include header

		// Content
		block content
			h1 This is a placeholder heading

		// Footer
		include footer

		script(src='https://js.stripe.com/v3/')
		script(src='/js/bundle.js')
