extends goaheadtravel

block content
	main.main
		.login-form
			h2.heading-secondary.ma-bt-lg log in
			form.form.form--login
				.form__group
					label.form__label(for='email') Your Email
					input#email.form__input(type='email', placeholder='youremail@example.com', required)
				.form__group.ma-bt-md
					label.form__label(for='password') Your Password
					input#password.form__input(type='password', placeholder='********', required, minlength='8')
				.form__group.right
					button.btn.btn--green Login
				.form__group
					a.left.span-all-rows#forgotPasswordLink(href='/forgotpassword') forgot my password
					.right
					a.span-all-rows#forgotPasswordLink(href="/signup") Don't have an account? Create one

