extends goaheadtravel

block content
	main.main
		.error
			.error__title
				h2.heading-secondary.heading-secondary--error It seems that you doesn't book a travel yet!
				h2.error__emoji 😢 🤯
				//-img.error__title-img(src=`/img/Scarecrow.png` alt='Someting went wrong')
			table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
				tbody
					tr
						td(align='left')
							table(role='presentation', border='0', cellpadding='0', cellspacing='0')
								tbody
									tr
										td
											a(href="/") Get more details here