extends goaheadtravel


block content
	main.main
		.resetpassword-form
			h2.heading-secondary.ma-bt-lg Please enter a new password and validate it
			form.form.resetpassword--form
				.form__group.ma-bt-md
					label.form__label(for='password') Password
					input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
				.form__group.ma-bt-md
					label.form__label(for='passwordValidation') Confirm password
					input#passwordValidation.form__input(type='password' placeholder='••••••••' required='' minlength='8')
					input#resetToken(type='hidden' value=`${token}`)
				.form__group.right
					button.btn.btn--green Confirm new password
